<!-- vim: set sw=2 sts=2 et tw=80 : -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/ico/favicon.ico">

    <title>Cover Template for Bootstrap</title>

    <!-- Latest compiled and minified Boostrap core CSS -->
    <link rel="stylesheet"
    href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

    <!-- Custom styles for this template -->
    <link href="/stylesheets/root.css" rel="stylesheet">
    <link href="/stylesheets/cover.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"><img src="/img/masonjar.png" alt="Mason Jar"
              height="55px" width="50px"> - MasonJar</h3>
              <ul class="nav masthead-nav">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="{{html .Logout}}">Logout</a></li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="row">
              <p class="lead">
              <a id="ready" class="btn btn-lg btn-success">Ready</a>
              <a id="watch" class="btn btn-lg btn-primary">Watch</a>
              <a id="quit" class="btn btn-lg btn-danger">Quit</a>
              </p>
            </div><!-- /.row -->
            <div style="display:none" id="boardGame" class="row" >
              <div class="inner cover col-lg-12">
                <canvas id="myCanvas" width="540px" height="250px"></canvas>
              </div>
              <img style="display:none;" id="hearts"
              src="/img/7-of-hearts.png" >
            </div>
            <div class="inner cover col-sm-6">

              <div id="body">
                  <div id="in" class="input-group">
                  <h4 style="text-align: left;">Chat:</h4>
                  <input type="text" class="form-control"></div>
                  <div id="log" style="font-size: 12pt;"></div>
              </div><!-- /.chat-body -->
            </div>
            {{define "tableRow"}}
            <tr class="{{html .Activity}}">
                <td>{{html .Name}}</td><td><span style="color:black;" class="glyphicon glyphicon-{{html .IconName}}">
                </span></td>
            </tr>
            {{end}}
            {{define "table"}}
              <h4 class="sidebar-heading">{{html .Name}}</h4>
              <div id="info-table">
                <table class="table table-condensed">
                  <thead>
                    {{range .Headers}}
                    <th style="text-align:center">{{.}}</th>
                    {{end}}
                  </thead>
                  <tbody id="players" style="color:black;">
                    {{range .Body}}
                    {{template "tableRow" .}}
                    {{end}}
                  </tbody>
                </table>
              </div><!-- /.info-table -->
            {{end}}
            <div id="players-table" class="inner cover col-sm-6">
              {{template "table" .TableData}}
            </div><!-- /.players-table -->
          </div><!-- /.row -->


          <div class="mastfoot">
            <div class="inner">
              <p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <!-- Load the Paper.js library -->
    <script type="text/javascript" src="/js/paper-full.js"></script>
    <!-- Define inlined PaperScript associate it with myCanvas -->
    <script type="text/paperscript" src="/js/myScript.js" canvas="myCanvas"></script>

    <script src="/_ah/channel/jsapi"></script>
    <script>
        $(function() {
            var game = '{{js .Game}}';
            var token = '{{js .Token}}';

            var chan = new goog.appengine.Channel(token);
            var sock = chan.open();
            sock.onmessage = function(msg) {
              var message = JSON.parse(msg.data);
              if (message.Text) { $("#log").prepend($('<div />').text(message.Text)) };
              var html = '<tbody id="players" style="color:black;" class="table table-centered">';
              var ready = true;
              $.each( message.Players, function( index, player ) {
                  var activity, iconname;
                  switch (player.Status) {
                  case 1:
                    activity = "success";
                    iconname = "ok";
                    break;
                  case 0:
                    activity = "danger";
                    iconname = "remove";
                    ready = false;
                    break;
                  default:
                    activity = "info";
                    iconname = "search";
                    ready = true;
                    break;
                  }
                html += '<tr class=' +  activity + '><td>' + player.Name +
                '</td><td><span style="color:black;"' +
                'class="glyphicon glyphicon-' + iconname + '"></span></a></td></tr>';
              });
              html += '</tbody>';
              $("#players").replaceWith(html);
              if (ready) { $("#boardGame").css("display", "") };
            }

            $("#ready").click( function(){
                $.ajax('/ready', {data: ""});
            });

            $("#quit").click( function(){
                $.ajax('/leave', {data: ""});
            });
            $("#watch").click( function(){
                $.ajax('/watch', {data: ""});
            });

            var $in = $('#in input').focus();
            $in.keypress(function(e) {
                if (e.which != 13 && e.which != 10) {
                  return;
                } else {
                  e.preventDefault();
                  var msg = $in.val();
                  $in.val('');
                  $.ajax('/post', {data: {game: game, msg: msg}});
                }
            });
        });
    </script>
  </body>
</html>
