html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
}
#body {
    font-family: sans-serif;
    height: 200px;
}
#cover-heading {
    font-size: 150%;
    color: #104;
}
#in {
    margin: 0 auto;
    padding: 4px 0;
}
#in input {
    width: 235px;
}
#log div {
    padding: 4px;
}
#log {
    height: 300px;
    overflow: scroll;
}
#info-table {
    height: 150px;
    overflow: scroll;
}
.card {
    position: absolute;
    left: 10%;
    width: 80%;
    height: auto;
}
.pile {
    position: relative;
    float: left;
    padding: 0.1%;
    width: 12.5%;
    height: 100%;
}
#lake {
    height: 200px;
    padding: 40px;
}
#boardGame .pile {
    left: 25px;
}
#boardGame {
    height: 200px;
    padding: 25px;
}
#players-table {
    overflow: scroll;
    height: 300px;
}
.players {
    vertical-align: middle;
    padding: 100px 20px;
}
