html {
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: none;
}
#body {
    font-family: sans-serif;
    height: 200px;
}
#cover-heading {
    font-size: 150%;
    color: #104;
}
#in {
    margin: 0 auto;
    padding: 4px 0;
}
#in input {
    width: 235px;
}
#lake img {
    height: 70px;
}
#boardGame div img {
    height: 70px;
}
#log div {
    padding: 4px;
}
#log {
    height: 300px;
    overflow: scroll;
}
#info-table {
    height: 150px;
    overflow: scroll;
}

#players-table {
    overflow: scroll;
}
